<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="icon" href="/image/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img id="kakashi" src="/image/kakashi.jpg" alt="">
        <p>A picture of Kakashi is always better than a real person, right?</p>
    </div>

    {{>footer}}
</body>
</html>